html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
#map {
	height: 100%;
	width: 80%;
	float: right;
	margin-top: 80px;
}
#menu{
	height: 100%;
	width: 20%;
	float: left;
	margin-top: 10%;
}
#editAreaMenu{
	display: none;
}
#child_avatar{
	width: 180pt;
	height: 180pt;
}